header {
  background-color: #0d6122;
  display: flex;
  height: 70px;
  justify-content: space-around;
  width: 100%;
}

.div-user {
  align-self: center;
}

.header-ol-menu {
  align-self: center;
  width: 50%;
}

.header-user-span {
  align-self: center;
  color: rgb(85, 253, 189);
  font-size: 20px;
}

.header-ol {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 440px;
}

a {
  color: rgb(234, 248, 196);
  font-size: 1.2rem;
  padding: 0 10px;
  text-decoration: none;
}
